* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

.title_text {
  padding: 25px 0;
  font-size: 24px;
  text-align: center; }

.line::after {
  content: '';
  width: 70%;
  height: 2px;
  display: block;
  background: #000; }

.line::before {
  content: '';
  width: 70%;
  height: 2px;
  margin-left: auto;
  display: block;
  background: #000; }

.navbar {
  padding: 40px 31px; }
  .navbar__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar_logo {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    text-decoration: none; }
  .navbar__search_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navbar__search_field {
    padding: 11px 14px;
    background-color: #d9d9d9;
    border: 0;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px; }
    .navbar__search_field::-webkit-input-placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase; }
    .navbar__search_field::-moz-placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase; }
    .navbar__search_field:-moz-placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase; }
    .navbar__search_field:-ms-input-placeholder {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase; }
  .navbar__search_btn {
    background-color: #c9ac9c;
    border: 2px solid transparent;
    padding: 0 26px;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .navbar__search_btn:hover {
      background-color: transparent;
      border-color: #c9ac9c; }
  .navbar__authorization {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
    .navbar__authorization_btn {
      padding: 10px 0;
      display: block;
      width: 120px;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 600;
      color: #000000;
      border: 1px solid transparent;
      background-color: #b8917a;
      border-radius: 1.0px;
      cursor: pointer;
      text-transform: capitalize;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
      .navbar__authorization_btn:first-child {
        margin-right: 15px;
        background-color: #c19f8b; }
        .navbar__authorization_btn:first-child:hover {
          border-color: #b8917a; }
      .navbar__authorization_btn:hover {
        border-color: #b8917a;
        background: transparent; }

.nav {
  margin-left: 120px; }
  .nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .nav__list_item {
      margin-right: 10px; }
    .nav__list_link {
      text-decoration: none;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 400;
      color: #000000;
      padding: 9px 18px;
      display: inline-block;
      border: 2px solid transparent;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      background: #e5e5e5; }
      .nav__list_link:hover {
        background: transparent;
        border-color: #e5e5e5; }

.header {
  padding: 240px 0 253px;
  background: url(../img/bg_header.png) 100% 100%;
  background-size: cover; }
  .header_text {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-align: center; }
  .header_subtext {
    width: 70%;
    margin: 33px auto 63px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-align: center; }
  .header_btn {
    display: table;
    margin: 0 auto;
    width: 150px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    background: #d9a273;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    .header_btn:hover {
      border-color: #d9a273;
      background: transparent;
      color: #fff; }

.why {
  background-color: #e5e5e5;
  padding: 36px 0; }
  .why__title {
    border-top: 2px solid #000;
    padding: 41px 0 39px;
    text-align: center; }
    .why__title_text {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      color: #030303;
      margin-bottom: 28px; }
    .why__title_subtext {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 600;
      color: #a6775b; }
  .why__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
    .why__line:nth-child(1) {
      width: 100%; }
    .why__line:nth-child(2) {
      width: 70%; }
    .why__line:nth-child(3) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      .why__line:nth-child(3) .why__line_elem {
        border-left: 1px solid #000;
        text-align: center; }
    .why__line:nth-child(4) {
      width: 80%; }
    .why__line_elem {
      width: 32%;
      padding: 12px;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      display: inline-block; }
      .why__line_elem:last-child {
        border-left: 0;
        border-right: 1px solid #000;
        text-align: right; }
  .why__elem_text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    color: #030303; }

.courses__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.courses__elem {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 5px;
  width: -webkit-calc(120% / 4);
  width: calc(120% / 4);
  text-align: center;
  margin: 15px; }
  .courses__elem_img {
    max-width: 100%; }
  .courses__elem_title {
    font-size: 22px; }
  .courses__elem_subtitle {
    padding: 15px 0; }
  .courses__elem_btn {
    display: table;
    margin: 0 auto;
    width: 150px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    background: #d9a273;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin-bottom: 10px; }
    .courses__elem_btn:hover {
      border-color: #d9a273;
      background: transparent; }

.error_img {
  width: 100%; }

.profile {
  padding: 50px 0; }
  .profile_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  border: 5px solid #3c78fa;
  padding: 20px;
  border-radius: 20px;
  margin-right: 70px; }
  .person_img {
    max-width: 70%;
    display: table;
    margin: 0 auto; }
  .person__inform {
    width: 75%; }
    .person__inform_cell {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px 0;
      border-bottom: 1px solid #3c78fa;
      margin-bottom: 10px; }
  .person_name {
    font-size: 22px;
    text-align: center;
    padding: 25px 0; }
  .person_btn {
    padding: 10px 0;
    display: block;
    width: 120px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #3c78fa;
    border-radius: 1.0px;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }

.authorization {
  padding: 50px 0; }
  .authorization__block {
    margin: 0 auto;
    width: 40%;
    background: #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px; }
  .authorization_form {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px;
    text-align: center; }
  .authorization_field {
    width: 100%;
    margin: 10px 0;
    display: block;
    padding: 5px 10px; }
  .authorization_btn {
    padding: 10px 0;
    display: block;
    width: 120px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #c9ac9c;
    border-radius: 1.0px;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    margin: 0 auto; }

.course {
  padding: 50px 0; }
  .course__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .course__top_title {
      font-size: 24px;
      padding: 15px 0 25px; }
    .course__top_img {
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #000;
      max-width: 450px;
      margin-right: 50px; }
    .course__top_btn {
      margin-top: 25px;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 600;
      color: #000000;
      background: #d9a273;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      border: 1px solid transparent;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; }
      .course__top_btn:hover {
        border-color: #d9a273;
        background: transparent; }

.reviews__slider .slick-arrow::before {
  color: #d9a273; }

.reviews__block {
  border-bottom: 2px solid #d9a273;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px; }

.reviews_ic {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: table;
  padding: 10px;
  border-bottom: 2px solid #d9a273;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  border-radius: 50%; }

.reviews_name {
  font-size: 18px;
  text-align: center;
  padding: 15px 0; }

.reviews_text {
  padding: 5px 0 10px;
  text-align: center; }

.reviews__form {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .reviews__form_field {
    width: 45%;
    display: inline-block;
    padding: 10px; }
    .reviews__form_field:active {
      border-color: red; }
  .reviews__form_text {
    width: 90%;
    display: inline-block;
    padding: 10px;
    resize: none;
    margin-top: 15px; }
  .reviews__form_btn {
    display: table;
    margin: 15px auto;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    background: #d9a273;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    cursor: pointer; }
    .reviews__form_btn:hover {
      border-color: #d9a273;
      background: transparent; }
